@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post-single {
  &__inner {
    max-width: $layout-post-single-max-width;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__title {
    font-size: $typographic-base-font-size * 2.7;
    max-width: $layout-post-single-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-family: $typographic-font-family--heading;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0.5);
  }
  &__meta {
    display: flex;
    align-items: center;
    justify-content: center;
    @include margin-bottom(1);
    &-time {
      font-size: $typographic-xsmall-font-size;
      color: $color-gray;
    }
    &-divider {
      font-size: 0.5rem;
      margin: 0 4px 0 8px;
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $typographic-xxsmall-font-size;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__tag {
    margin: 0;
    margin-left: 6px;
    padding: 0;
    &-link {
      text-decoration: none;
      border: 1px solid $color-primary;
      border-radius: 100px;
      color: $color-primary;
      line-height: $typographic-base-line-height;
      padding: 2px 8px;
      &:hover,
      &:focus {
        color: white; //$color-base;
        background: $color-primary; //darken($color-gray-bg, 5%);
        //border: 0;
      }
    }
  }
  &__body {
    & figure {
      @include margin-bottom(1);
      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);
        & p {
          max-width: $layout-post-single-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
        }
      }
    }
    & a {
      text-decoration: underline;
    }
    & .gatsby-highlight {
      max-width: $layout-post-single-width;
      margin-left: 15px;
      margin-right: 15px;
      @include margin-bottom(1);
    }
    & :not(div) {
      max-width: $layout-post-single-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__footer {
    display: flex;
    //justify-content: ;
    max-width: $layout-post-single-width;
    margin-left: 15px;
    margin-right: 15px;
    @include line-height(1);
    @include margin-top(1);
    @include margin-bottom(2);
    &-text {
      & a {
        text-decoration: underline;
      }
    }
    &-nav {
      width: 33%;

      a {
        color: $color-secondary;
        &:hover {
          text-decoration: underline;
        }
      }

      &:nth-of-type(1) {
        text-align: left;
      }
      &:nth-of-type(2) {
        text-align: center;
      }
      &:nth-of-type(3) {
        text-align: right;
      }
    }
  }
}

@include breakpoint-sm {
  .post-single {
    &__footer {
      margin-left: auto;
      margin-right: auto;
    }
    &__body {
      & .gatsby-highlight {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@include breakpoint-md {
  .post-single {
    &__inner {
      padding: 0;
    }
    &__title {
      font-size: $typographic-base-font-size * 3.3;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(0.5);
    }
    &__meta {
      @include margin-bottom(1.3);
    }
    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);
      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }
    }
  }
}
