@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
      padding: 0;
      margin: 5px 0;
      &-link {
        font-size: $typographic-base-font-size * 1.5;
        color: $typographic-base-font-color;
        font-family: $typographic-font-family--heading;
        &:hover,
        &:focus {
          color: $color-secondary;
          text-decoration: underline;
          text-decoration-color: $color-secondary;
        }
        &--active {
          color: $color-base;
          text-decoration: underline;
          text-decoration-color: $color-base;
        }
      }
    }
  }
}

.dark .menu__list-item-link {
  color: $typographic-base-font-color--dm;
  &:hover,
  &:focus {
    color: $color-secondary;
    text-decoration-color: $color-secondary;
  }
  &--active {
    color: $typographic-base-font-color--dm;
    text-decoration-color: $typographic-base-font-color--dm;
  }
}
