/** 
 * Generic
 */

html {
  font-size: $typographic-root-font-size;
}

body {
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  background: $color-background--dm;
  color: $typographic-base-font-color--dm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family--heading;
  font-weight: 400;
}

h1 {
  font-size: $typographic-base-font-size * 2.5;
  @include line-height(2);
  @include margin-top(4);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
  @include line-height(1.5);
  @include margin-top(2);
  @include margin-bottom(0.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(0.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(0.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(0.5);
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

hr {
  width: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 10px;
  background: $color-dark-gray;
  border: none;
  -webkit-transform: skew(22deg) scale(1);
  transform: skew(22deg) scale(1);
}

.dark hr {
  background: $color-light-gray;
}

a {
  color: $typographic-link-p-font-color;
  text-decoration: none;
  &:hover {
    color: $typographic-link-s-font-color;
  }
}

b,
strong {
  font-weight: 500;
}

ul {
  list-style: square;
  @include margin-bottom(1);
  & li {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

p {
  @include line-height(1);
  //@include margin-bottom(1);
  font-weight: 400;
}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(0.75);
  @include margin-top(0.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.layout {
  lost-center: $layout-width;
}

.content {
  &__inner {
    padding: 25px 20px;
  }
}

.arrow {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-bottom: 1px;
}

.right {
  margin-left: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  margin-right: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }
  .float-right {
    float: right;
  }
  .float-left {
    float: left;
  }
  .content {
    lost-column: 7/12;
    &__inner {
      padding: 30px 20px;
    }
  }
}

@include breakpoint-md {
  .content {
    lost-column: 2/3;
    &__inner {
      padding: 40px 35px;
    }
  }
}
