@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.links {
  margin-left: -10px;
  @include margin-bottom(1);
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    &-item {
      padding: 0;
      margin-right: -10px;
      //   padding: 0;
      //   margin: 0 3px;
      //   height: 24px;
      //   width: 24px;
      //   line-height: 24px;
      //   border-radius: 3px;
      //   text-align: center;
      //   background: $color-gray-bg;
      & a {
        border: 0;
        & i {
          font-size: 32px;
          color: $color-primary;
        }
        &:hover,
        &:focus {
          & i {
            color: $color-secondary;
          }
        }
      }
    }
  }
}
