@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
  width: 100%;
  &__inner {
    position: relative;
    padding: 25px 20px 0;
  }
  &__author {
    text-align: center;
    &-photo {
      display: inline-block;
      margin-bottom: 0;
      //border-radius: 50%;
      //background-clip: padding-box;
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor; // for IE11
    }
    &-title {
      font-size: $typographic-base-font-size * 1.8;
      @include line-height(1.125);
      @include margin(0.5, 0, 0.5, 0);
      &-link {
        color: $color-primary;
      }
    }
    &-subtitle {
      text-align: left;
      color: $color-dark-gray;
      @include line-height(1);
      &:last-of-type {
        @include margin-bottom(1);
      }
      a {
        text-decoration: underline;
      }
    }
  }
  &__copyright {
    color: $color-light-gray;
    font-size: $typographic-small-font-size;
  }
}

.dark {
  .sidebar__author-title-link {
    color: $color-primary--dm;
  }
  .sidebar__author-subtitle {
    color: $color-light-gray;
  }
}

@include breakpoint-sm {
  .sidebar {
    lost-column: 5/12;
    &__inner {
      padding: 30px 20px 0;
      &:after {
        background: $color-very-light-gray;
        background: linear-gradient(to bottom, $color-very-light-gray 0%, $color-very-light-gray 48%, white 100%);
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        top: 30px;
        right: -10px;
        bottom: 0;
      }
    }
  }
  .dark {
    .sidebar__inner:after {
      background: $color-very-dark-gray;
      background: linear-gradient(to bottom, $color-very-dark-gray 48%, $color-background--dm 100%);
    }
  }
}

@include breakpoint-md {
  .sidebar {
    lost-column: 1/3;
    &__inner {
      padding: 40px;
    }
  }
}
