@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  @include margin-bottom(2);
  &:last-child {
    @include margin-bottom(0.5);
  }
  &__title {
    font-size: $typographic-base-font-size * 2.3;
    font-weight: 500;
    @include line-height(1.5);
    @include margin-top(0);
    @include margin-bottom(0.7);
    &-link {
      color: $color-base;
      &:hover,
      &:focus {
        color: $color-secondary;
        text-decoration: underline;
        text-decoration-color: $color-secondary;
      }
    }
  }
  &__description {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-bottom(0.4);
  }
  &__meta {
    display: flex;
    align-items: center;
    &-time {
      font-size: $typographic-small-font-size;
      color: $color-dark-gray;
      font-weight: 400;
    }
    &-divider {
      font-size: 0.5rem;
      margin: 0 4px 0 8px;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $typographic-xxsmall-font-size;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
  }
  &__tag {
    margin: 4px 0 4px 6px;
  }
}

.dark {
  .post__title-link {
    color: $typographic-base-font-color--dm;

    &:hover {
      color: $color-secondary;
    }
  }

  .post__meta-time {
    color: $color-light-gray;
  }
}
