@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  @include margin-bottom(2);
  &:last-child {
    @include margin-bottom(0.5);
  }
  &__title {
    font-family: $typographic-font-family--heading;
    font-size: $typographic-base-font-size * 2.3;
    @include line-height(1.5);
    @include margin-top(0);
    @include margin-bottom(0.7);
    &-link {
      color: $color-base;
      &:hover,
      &:focus {
        color: $color-base;
        border-bottom: 1px solid $color-base;
      }
    }
  }
  &__description {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-bottom(0.5);
  }
  &__meta {
    display: flex;
    align-items: center;
    &-time {
      font-size: $typographic-xsmall-font-size;
      color: $color-gray;
      font-weight: 400;
    }
    &-divider {
      font-size: 0.5rem;
      margin: 0 4px 0 8px;
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    font-size: $typographic-xxsmall-font-size;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__tag {
    margin: 0;
    margin-left: 6px;
    padding: 0;
    &-link {
      text-decoration: none;
      border: 1px solid $color-primary;
      border-radius: 100px;
      color: $color-primary;
      line-height: $typographic-base-line-height;
      padding: 2px 8px;
      &:hover,
      &:focus {
        color: white; //$color-base;
        background: $color-primary; //darken($color-gray-bg, 5%);
        //border: 0;
      }
    }
  }
}
